.formLayout {
  display: flex;
  gap: 5%;
}

.formInputs {
  width: 75%;
}

#errorMessage {
  font-size: large;
  color: #ff0000;
}

#traitSelector {
  width: 20%;
}

.traitOption {
  display: block;
  width: fit-content;
  margin-bottom: 3px;
  padding: 0.5px 5px;
  border-radius: 3px;
  margin-right: 3px;
  color: #597094;
  background-color: #1a1e24;
  border: 2px solid #2f415c;
  opacity: 0.4;
  cursor: pointer;
}

.selected {
  opacity: 1;
}

#addLevelForm input {
  font-size: medium;
  color: #b5c8cf;
  background-color: #1a1e24;
  border: 1px solid #414b59;
  margin: 2px;
}

#addLevelForm input::placeholder {
  color: #0c6585;
}

select {
  font-size: medium;
  color: #b5c8cf;
  background-color: #1a1e24;
  border: 1px solid #414b59;
  margin: 2px;
  vertical-align: top;
}

button {
  font-size: medium;
  color: #b5c8cf;
  background-color: #1a1e24;
  border: 1px solid #414b59;
  margin: 2px;
  vertical-align: top;
  cursor: pointer;
}

#num {
  width: 5%;
}

#gameId {
  width: 15%;
}

#name {
  width: 20%;
}

#placement {
  width: 10%;
}

#best {
  width: 10%;
}

#attempts {
  width: 12%;
}

#startposAttempts {
  width: 13%;
}

#enjoyment {
  width: 10%;
}

#reason {
  width: 75%;
}

#songName {
  width: 40%;
}

#songId {
  width: 10%;
}

#imagePath {
  width: 15%;
}
