body {
  color: #fff;
  background-color: #000;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
  font-family: "Exo 2", sans-serif;
}

h1 {
  font-size: xx-large;
  color: #7b9cd1;
}

h2 {
  font-size: x-large;
  color: #556b8b;
}

h3 {
  font-size: large;
  color: #43536b;
  font-weight: lighter;
  margin-top: 4px;
}

hr {
  border: none;
  border-top: 1px solid #43536b;
}

.titleBox {
  display: flex;
  align-items: baseline;
  gap: 8px;
}

.gd,
.title {
  font-size: xx-large;
  font-weight: bold;
  margin: 0;
}

.gd {
  color: #ffc800;
}

.title {
  color: #4a6678;
}

a {
  text-decoration: none;
}

.navButton {
  display: block;
  width: fit-content;
  font-size: larger;
  color: #b5c8cf;
  background-color: #1a1e24;
  border: 1px solid #414b59;
  border-radius: 3px;
  margin: 2px;
  margin-right: 5px;
  cursor: pointer;
}
