table {
  table-layout: fixed;
}

th,
td {
  text-align: left;
  font-size: medium;
  font-weight: lighter;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

th {
  color: #414b59;
}

#numColumn {
  width: 3%;
}

#nameColumn {
  width: 10%;
}

#placementColumn {
  width: 5%;
}

#bestColumn {
  width: 5%;
}

#attemptsColumn {
  width: 7%;
}

#traitsColumn {
  width: 25%;
}

#reasonColumn {
  width: 30%;
}

.divider {
  font-size: x-large;
  font-weight: bolder;
  padding-left: 3%;
  padding-top: 0.8%;
  padding-bottom: 0.8%;
}

#insaneDivider {
  color: #131921;
  background: linear-gradient(to right, rgb(156, 94, 255), transparent);
}

#firstDivider {
  color: #131921;
  background: linear-gradient(to right, rgb(117, 255, 223), transparent);
}

#beginnerDivider {
  color: #131921;
  background: linear-gradient(to right, rgb(57, 219, 71), transparent);
}

#advancedDivider {
  color: #131921;
  background: linear-gradient(to right, rgb(255, 221, 0), transparent);
}

#listDivider {
  color: #131921;
  background: linear-gradient(to right, rgb(255, 119, 0), transparent);
}

#finalDivider {
  color: #131921;
  background: linear-gradient(to right, rgb(255, 0, 0), transparent);
}

.tableRow {
  cursor: pointer;
}
